Repository MartsTech/Invenr: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c yarn check-types, yarn check-lint, yarn check-format

Update automerge.yml
  .github/workflows/automerge.yml
Due: none

#61 | Add a script for changing manifest
  apps/web/public/manifest-dark.json
  apps/web/src/pages/_document.tsx
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#65 | Change manifest colors
  apps/web/public/manifest-dark.json
  apps/web/public/manifest.json
  apps/web/src/pages/_document.tsx
  packages/database/tsconfig.json
  packages/ui/src/theme/theme-hooks.ts
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#67 | Add current time indicator
  packages/ui/src/calendar/Calendar.tsx
  packages/ui/src/calendar/CalendarTimeIndicator.tsx
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#65 | Change status bar color
  apps/web/src/pages/_document.tsx
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

Fix dependabot mistake
  packages/ui/package.json
  yarn.lock
Due: yarn check-format

#116 | Add support for calendar dates and views
  .gitignore
  apps/web/next.config.js
  apps/web/src/common/week/getWeekDays.ts
  apps/web/src/features/auth/AuthProvider.tsx
  apps/web/src/features/calendar/CalendarModule.tsx
  apps/web/src/features/calendar/calendar-state.ts
  apps/web/src/features/events/event-api.ts
  apps/web/src/features/events/events-middleware.ts
  apps/web/src/features/events/events-state.ts
  apps/web/src/lib/store/index.ts
  apps/web/src/pages/api/events/index.ts
  packages/ui/src/calendar/Calendar.tsx
  turbo.json
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#116 | Add support for calendar dates and views (#117)
  .gitignore
  apps/web/next.config.js
  apps/web/src/common/week/getWeekDays.ts
  apps/web/src/features/auth/AuthProvider.tsx
  apps/web/src/features/calendar/CalendarModule.tsx
  apps/web/src/features/calendar/calendar-state.ts
  apps/web/src/features/events/event-api.ts
  apps/web/src/features/events/events-middleware.ts
  apps/web/src/features/events/events-state.ts
  apps/web/src/lib/store/index.ts
  apps/web/src/pages/api/events/index.ts
  packages/ui/src/calendar/Calendar.tsx
  turbo.json
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

Create README.md
  README.md
Due: yarn check-format

#114 | Add privacy policy and terms of use
  apps/web/src/pages/privacy_policy.tsx
  apps/web/src/pages/terms_of_use.tsx
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#114 | Add privacy policy and terms of use
  .eslintrc.json
  apps/web/src/pages/terms_of_use.tsx
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#121 | Create dashboard page
  apps/web/src/features/calendar/CalendarModule.tsx
  apps/web/src/features/dashboard/DashboardModule.tsx
  apps/web/src/features/events/event-api.ts
  apps/web/src/features/layouts/AppLayout.tsx
  apps/web/src/middleware.ts
  apps/web/src/pages/api/calendarList/index.ts
  apps/web/src/pages/api/events/index.ts
  apps/web/src/pages/dashboard.tsx
  package.json
  packages/ui/package.json
  packages/ui/src/chart/PieChart.tsx
  yarn.lock
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#121 | Add basic event conflict resolve
  apps/web/src/features/calendar/CalendarModule.tsx
  apps/web/src/features/events/event-api.ts
  apps/web/src/features/events/events-state.ts
  apps/web/src/features/events/events-types.d.ts
  apps/web/src/features/events/events-utils.ts
  apps/web/src/pages/api/events/index.ts
  packages/ui/src/float/FloatButton.tsx
  packages/ui/src/float/index.tsx
  packages/ui/src/index.tsx
  test.json
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#121 | Fix week calendar
  apps/web/package.json
  apps/web/src/features/calendar/CalendarModule.tsx
  apps/web/src/features/events/event-api.ts
  apps/web/src/features/events/events-state.ts
  apps/web/src/features/events/events-types.d.ts
  apps/web/src/features/events/events-utils.ts
  package.json
  packages/database/package.json
  packages/ui/package.json
  test.json
  yarn.lock
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#121 | Add calendar reschedule
  apps/web/src/features/calendar/CalendarModule.tsx
  apps/web/src/features/events/events-state.ts
  apps/web/src/features/events/events-utils.ts
  packages/ui/src/float/FloatButton.tsx
  packages/ui/src/float/index.tsx
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#121 | Reschedule calendar
  apps/web/src/features/calendar/CalendarModule.tsx
  apps/web/src/features/events/event-api.ts
  apps/web/src/pages/api/events/reschedule.ts
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#121 | Fix calendar dashboard
  apps/web/src/features/dashboard/DashboardModule.tsx
  apps/web/src/pages/dashboard.tsx
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#121 | Add more dashboards
  apps/web/src/features/calendar/CalendarModule.tsx
  apps/web/src/features/dashboard/DashboardModule.tsx
  apps/web/src/features/page/PageProvider.tsx
  packages/ui/src/float/FloatButton.tsx
  packages/ui/src/navigation/BottomNavigation.tsx
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

Changeset Release
  apps/web/CHANGELOG.md
  package.json
  packages/database/CHANGELOG.md
  packages/ui/CHANGELOG.md
Due: yarn check-format

Update dependabot.yml
  .github/dependabot.yml
Due: none

Delete dependabot.yml
  .github/dependabot.yml
Due: none

Path conditions:
  bash -c yarn check-types: any of: *.{ts,tsx}
  yarn check-lint: any of: *.{js,jsx,ts,tsx}
  yarn check-format: any of: *.{json,md,html,js,jsx,ts,tsx}
