Repository MartsTech/Invenr: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c yarn check-types, yarn check-lint, yarn check-format

#15 |Configure google auth with next auth and redux
  .env.example
  package.json
  public/vercel.svg
  src/lib/api/index.ts
  src/lib/store/index.ts
  src/lib/store/store-hooks.ts
  src/lib/store/store-types.d.ts
  src/lib/types/env.d.ts
  src/modules/auth/AuthProvider.tsx
  src/modules/auth/auth-api.ts
  src/modules/auth/auth-state.ts
  src/modules/auth/auth-types.ts
  src/pages/_app.tsx
  src/pages/api/auth/[...nextauth].ts
  src/pages/api/hello.ts
  src/pages/index.tsx
  src/styles/Home.module.css
  src/styles/globals.css
  yarn.lock
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#17 | Get Google access token
  src/lib/types/env.d.ts
  src/lib/types/next-auth.d.ts
  src/modules/auth/AuthProvider.tsx
  src/modules/auth/auth-state.ts
  src/modules/auth/auth-types.d.ts
  src/modules/auth/auth-types.ts
  src/pages/api/auth/[...nextauth].ts
  src/pages/index.tsx
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#17 | Auth google calendar requests
  .env.example
  package.json
  src/lib/types/env.d.ts
  src/lib/types/next-auth.d.ts
  src/modules/auth/AuthProvider.tsx
  src/modules/auth/auth-state.ts
  src/modules/auth/auth-types.d.ts
  src/modules/auth/auth-utils.ts
  src/pages/api/auth/[...nextauth].ts
  src/pages/api/calendar/test.ts
  src/pages/index.tsx
  yarn.lock
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#20 | Add prisma adapter to next auth
  .env.example
  package.json
  src/lib/db/index.ts
  src/lib/db/migrations/20221210124703_next_auth/migration.sql
  src/lib/db/migrations/migration_lock.toml
  src/lib/db/schema.prisma
  src/lib/types/env.d.ts
  src/lib/types/prisma.d.ts
  src/pages/api/auth/[...nextauth].ts
  yarn.lock
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#20 | Fix next auth jwt not working
  .env.example
  .idea/.gitignore
  .idea/Invenr.iml
  .idea/dataSources.xml
  .idea/modules.xml
  .idea/vcs.xml
  package.json
  src/lib/api/index.ts
  src/lib/db/index.ts
  src/lib/store/index.ts
  src/lib/types/env.d.ts
  src/modules/auth/auth-api.ts
  src/pages/api/auth/[...nextauth].ts
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#20 | Dont save access token in local storage
  src/lib/types/next-auth.d.ts
  src/modules/auth/AuthProvider.tsx
  src/modules/auth/auth-state.ts
  src/modules/auth/auth-types.d.ts
  src/modules/auth/auth-utils.ts
  src/pages/api/auth/[...nextauth].ts
  src/pages/index.tsx
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#20 | Add users get api endpoint
  src/pages/api/users/get.ts
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#25 | Add custom login page
  src/modules/auth/auth-api.ts
  src/modules/login/login-types.d.ts
  src/pages/api/auth/[...nextauth].ts
  src/pages/index.tsx
  src/pages/login.tsx
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#23 | Secure pages with page provider
  src/modules/page/PageProvider.tsx
  src/pages/index.tsx
  src/pages/login.tsx
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#29 | Create dependabot.yml
  .github/dependabot.yml
Due: none

#32 | Add changeset
  .changeset/config.json
  .github/workflows/release.yml
  .gitignore
  package.json
  packages/config/package.json
  packages/database/package.json
  turbo.json
  yarn.lock
Due: yarn check-format

#32 | Init database
  .env.example
  .gitignore
  package.json
  packages/database/package.json
  packages/database/prisma/migrations/20221221191059_next_auth/migration.sql
  packages/database/prisma/migrations/migration_lock.toml
  packages/database/prisma/schema.prisma
  packages/database/src/client.ts
  packages/database/src/index.ts
  packages/database/tsconfig.json
  packages/database/tsup.config.ts
  turbo.json
  yarn.lock
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#32 | Init web
  apps/web/.eslintrc.json
  apps/web/.gitignore
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/_app.tsx
  apps/web/pages/_document.tsx
  apps/web/pages/api/hello.ts
  apps/web/pages/index.tsx
  apps/web/public/favicon.ico
  apps/web/public/next.svg
  apps/web/public/thirteen.svg
  apps/web/public/vercel.svg
  apps/web/styles/Home.module.css
  apps/web/styles/globals.css
  apps/web/tsconfig.json
  docker-compose.yml
  package.json
  turbo.json
  yarn.lock
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#32 | Config linting
  .editorconfig
  .eslintrc.json
  .husky/pre-commit
  .prettierrc.json
  apps/web/.eslintrc.json
  apps/web/package.json
  apps/web/pages/_app.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/_document.tsx
  apps/web/src/pages/api/hello.ts
  apps/web/src/pages/index.tsx
  apps/web/src/styles/Home.module.css
  apps/web/src/styles/globals.css
  package.json
  packages/database/package.json
  packages/database/src/client.ts
  packages/database/src/index.ts
  packages/database/tsconfig.json
  packages/database/tsup.config.ts
  yarn.lock
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#32 | Add config files
  .github/dependabot.yml
  .idea/.gitignore
  .idea/Invenr.iml
  .idea/dataSources.xml
  .idea/modules.xml
  .idea/vcs.xml
  LICENSE.md
Due: yarn check-format

#32 | Init web
  .gitignore
  LICENSE.md
  apps/web/package.json
  apps/web/public/next.svg
  apps/web/public/thirteen.svg
  apps/web/public/vercel.svg
  apps/web/src/lib/api/index.ts
  apps/web/src/lib/store/index.ts
  apps/web/src/lib/store/store-hooks.ts
  apps/web/src/lib/store/store-types.d.ts
  apps/web/src/lib/types/env.d.ts
  apps/web/src/lib/types/next-auth.d.ts
  apps/web/src/modules/auth/AuthProvider.tsx
  apps/web/src/modules/auth/auth-api.ts
  apps/web/src/modules/auth/auth-state.ts
  apps/web/src/modules/auth/auth-types.d.ts
  apps/web/src/modules/auth/auth-utils.ts
  apps/web/src/modules/login/login-types.d.ts
  apps/web/src/modules/page/PageProvider.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/_document.tsx
  apps/web/src/pages/api/auth/[...nextauth].ts
  apps/web/src/pages/api/calendar/test.ts
  apps/web/src/pages/api/hello.ts
  apps/web/src/pages/api/users/get.ts
  apps/web/src/pages/index.tsx
  apps/web/src/pages/login.tsx
  apps/web/src/styles/Home.module.css
  apps/web/src/styles/globals.css
  apps/web/tsconfig.json
  turbo.json
  yarn.lock
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#34 | Add missing dependency
  apps/web/package.json
Due: yarn check-format

#36 | Init changeset
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  yarn.lock
Due: yarn check-format

#36 | Fix changeset not working
  .changeset/config.json
  .changeset/sour-cups-grow.md
  .husky/pre-commit
Due: yarn check-format

#31 | Disable redux logger in production
  apps/web/src/lib/store/index.ts
  package.json
  yarn.lock
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#31 | Init calendar ui
  apps/web/package.json
  apps/web/src/modules/page/PageProvider.tsx
  apps/web/src/pages/calendar.tsx
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/ui/src/calendar/Calendar.tsx
  packages/ui/src/calendar/index.tsx
  packages/ui/src/index.tsx
  packages/ui/tsconfig.json
  yarn.lock
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#31 | Mock calendar page
  apps/web/src/lib/api/api-constants.ts
  apps/web/src/modules/calendarList/calendarList-api.ts
  apps/web/src/modules/calendarList/calendarList-types.d.ts
  apps/web/src/modules/events/events-api.ts
  apps/web/src/modules/events/events-types.d.ts
  apps/web/src/pages/api/calendarList/index.ts
  apps/web/src/pages/api/events/index.ts
  apps/web/src/pages/calendar.tsx
  packages/ui/src/calendar/Calendar.tsx
  packages/ui/src/calendar/index.tsx
  turbo.json
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#31 | Add cache to api
  apps/web/src/lib/api/api-constants.ts
  apps/web/src/lib/api/index.ts
  apps/web/src/lib/store/index.ts
  apps/web/src/modules/calendarList/calendarList-api.ts
  apps/web/src/modules/calendarList/calendarList-state.ts
  apps/web/src/modules/event/event-api.ts
  apps/web/src/modules/event/event-middleware.ts
  apps/web/src/modules/event/event-state.ts
  apps/web/src/modules/event/event-types.d.ts
  apps/web/src/modules/events/events-api.ts
  apps/web/src/pages/api/calendarList/index.ts
  apps/web/src/pages/api/event/index.ts
  apps/web/src/pages/api/users/get.ts
  apps/web/src/pages/calendar.tsx
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#31 | Calendar fix width
  package.json
  packages/ui/src/calendar/Calendar.tsx
  yarn.lock
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#40 | Release new version
  apps/web/CHANGELOG.md
  apps/web/package.json
  package.json
  packages/database/CHANGELOG.md
  packages/database/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: yarn check-format

#40 | Fix api routes
  apps/web/src/modules/calendarList/calendarList-api.ts
  apps/web/src/modules/event/event-api.ts
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#44 | Add app layout
  apps/web/next.config.js
  apps/web/src/modules/layout/AppLayout.tsx
  apps/web/src/modules/page/PageProvider.tsx
  apps/web/src/pages/index.tsx
  apps/web/tsconfig.json
  packages/ui/src/appbar/AppBar.tsx
  packages/ui/src/appbar/index.tsx
  packages/ui/src/drawer/Drawer.tsx
  packages/ui/src/drawer/DrawerHeader.tsx
  packages/ui/src/drawer/drawer-utils.ts
  packages/ui/src/drawer/index.tsx
  packages/ui/src/icon/icon-utils.ts
  packages/ui/src/index.tsx
  packages/ui/tsconfig.json
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#48 | Connect appbar and dropdown props
  apps/web/src/modules/calendar/CalendarModule.tsx
  apps/web/src/modules/layout/AppLayout.tsx
  apps/web/src/modules/loader/LoaderModule.tsx
  apps/web/src/modules/page/PageProvider.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/calendar.tsx
  packages/ui/src/appbar/AppBar.tsx
  packages/ui/src/avatar/Avatar.tsx
  packages/ui/src/avatar/index.tsx
  packages/ui/src/calendar/Calendar.tsx
  packages/ui/src/drawer/Drawer.tsx
  packages/ui/src/drawer/index.tsx
  packages/ui/src/dropdown/Dropdown.tsx
  packages/ui/src/dropdown/index.tsx
  packages/ui/src/index.tsx
  packages/ui/src/theme/ThemeProvider.tsx
  packages/ui/src/theme/index.tsx
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#48 | Make layout responsive
  apps/web/src/modules/layout/AppLayout.tsx
  packages/ui/src/appbar/AppBar.tsx
  packages/ui/src/drawer/Drawer.tsx
  packages/ui/src/index.tsx
  packages/ui/src/navigation/BottomNavigation.tsx
  packages/ui/src/navigation/index.tsx
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#50 | Install next-pwa
  .gitignore
  apps/web/next.config.js
  apps/web/package.json
  apps/web/public/icons/android-chrome-192x192.png.png
  apps/web/public/icons/apple-touch-icon.png
  apps/web/public/icons/icon-512x512.png.png
  apps/web/public/manifest.json
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/_document.tsx
  yarn.lock
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#50 | Fix pwa
  apps/web/next.config.js
  apps/web/public/icons/android-chrome-192x192.png
  apps/web/public/icons/icon-512x512.png
  apps/web/src/modules/page/PageProvider.tsx
  apps/web/src/pages/_document.tsx
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

#52 | Refactor auth to middleware
  apps/web/src/middleware.ts
  apps/web/src/modules/calendar/CalendarModule.tsx
  apps/web/src/modules/layout/AppLayout.tsx
  apps/web/src/modules/loader/LoaderModule.tsx
  apps/web/src/modules/login/LoginModule.tsx
  apps/web/src/modules/page/PageProvider.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/calendar.tsx
  apps/web/src/pages/login.tsx
  packages/ui/src/box/Box.tsx
  packages/ui/src/box/index.tsx
  packages/ui/src/button/Button.tsx
  packages/ui/src/button/index.tsx
  packages/ui/src/index.tsx
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

Update release.yml
  .github/workflows/release.yml
Due: none

Delete release.yml
  .github/workflows/release.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

#61 | Add dark mode
  packages/ui/src/appbar/AppBar.tsx
  packages/ui/src/theme/ThemeContext.tsx
  packages/ui/src/theme/ThemeMode.tsx
  packages/ui/src/theme/ThemeProvider.tsx
  packages/ui/src/theme/theme-hooks.ts
  packages/ui/src/theme/theme-utils.ts
Due: bash -c yarn check-types, yarn check-lint, yarn check-format

Create automerge.yml
  .github/workflows/automerge.yml
Due: none

Path conditions:
  bash -c yarn check-types: any of: *.{ts,tsx}
  yarn check-lint: any of: *.{js,jsx,ts,tsx}
  yarn check-format: any of: *.{json,md,html,js,jsx,ts,tsx}
